/*Header*/
header {
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
}

#logo {
    display: inline;
    float: left;
}

nav {
    float: right;
    margin-right: 2%;
    font-family: sans-serif;
}

li {
    float: left;
    display: inline;
    padding: 5px;
    color: black;}
/*Header*/

body{
    background-image: url("../public/img/pattern.jpg");
    font-family: sans-serif;
    border-bottom: 2px solid grey;
    padding-top: 40px;
}

/*Article*/
section {
    background: white;
    margin-left: 300px;
    margin-right: 300px;
    
}

center {
    text-align: center;
  }

h1 { 
    text-align: center;
    padding-top: 30px;
}

#article-list {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    


}
/*Article*/


/*Footer*/
footer {
    text-align: center;
    background-color: black;
    color: white;
    padding: 5px 0;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    position: absolute;
    bottom: 0;
}
/*Footer*/

